body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/*TOP BANNER*/
#top-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    padding-bottom: 1rem;
    
    background-color: #ffffff;
}
#back-button{
    position: relative;
    left: 0;
}
#creative-collective-logo{
    flex-grow: 1;
    text-align: center;
}
#logo{
    width: 80vw;
    max-width: 400px;
    height: auto;
}

#top-banner h2{
    width: 90vw;
    max-width: 900px;
    
    padding: 5px 0;
    margin: 1rem;

    font-size: 1.8rem;
    font-family: "Pixelify Sans", sans-serif;
    text-transform: lowercase;
    text-align: center;
    font-weight: 900;

    color: #161228e8;
    border: #000000 solid 3.5px;
    background: linear-gradient(118deg, #bbd5fe 0%, #ecd8fd 100%);
    border-radius: 10px;

    -webkit-box-shadow:3px 3px 0px 1px #000000 ;
    -moz-box-shadow:3px 3px 0px 1px #000000 ;
    box-shadow:3px 3px 0px 1px #000000 ;

}

#top-banner h3{
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #030303;
    padding: 5px 0;
    text-underline-offset: 10px;

}
 
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 850px;
    padding: .5rem .3rem 2rem .3rem;
}


/* MAIN PAGE */

#main-page{
    max-width: 100vw;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/creator-nebula/Screenshot_352.png");
    background-repeat: repeat;
    padding: 0 .6rem;
}
#summary-and-images{
    max-width: 1000px;
}

#personal-summary{
    display: flex;
    flex-direction:column;
    text-align: center;
    max-width: 700px;

    background-color: #ffffff;
    border-radius: 5px;
}
#personal-summary h4{
    font-family: "Gwendolyn", cursive;
    text-transform: capitalize;
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-optical-sizing: auto;

    padding: 1rem 1rem 1rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;

}
#personal-summary p{
    border-top: solid 3px #000000;
    padding: 1rem 1rem .8rem 1rem;
    font-weight: 100;
    font-optical-sizing: auto;
    font-family:"Pixelify Sans", sans-serif;
    color: #2C221A;
}
#personal-summary a{
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    background: linear-gradient(118deg, #bbd5fe 0%, #ecd8fd 100%);
    color: rgb(51, 46, 52);
    padding: 0.2rem 1.5rem;
    font-size: 1.3rem;
    text-decoration: #4a375b00 3px underline;

    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-optical-sizing: auto;
    
    border: #000000 solid 4px;
    border-radius: 10px;

    -webkit-box-shadow:2px 2px 0px 1px #000000 ;
    -moz-box-shadow:2px 2px 0px 1px #000000 ;
    box-shadow:2px 2px 0px 1px #000000 ;
    transition: 200ms;

}
#personal-summary a:hover{
    text-decoration: #fff4fa 3px underline;
    background: linear-gradient(118deg, #6e90cb 0%, #aa79d7 100%);
    color: #fff4fa ;
}



/*CAROUSEL*/
#images{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;

}
#main-image-container{
    max-width: 900px;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 0rem 0rem;
    border: #000000 solid 4px;
    border-radius: 10px;

    -webkit-box-shadow:5px 5px 0px 2px #000000 ;
    -moz-box-shadow:5px 5px 0px 2px #000000 ;
    box-shadow:5px 5px 0px 2px #000000 ;

}
#main-image-container-inner{
    display: flex;
    justify-content: center;
    width: 100%;
}
#main-images{
    width: 100%;
}


  /* Hide the images by default */
  .main-image {
    display: none;
  }
  .main-image img{
    border-radius: 5px;
    max-height: 400px;
    max-width: 100%;
  }


  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    width: auto;
    padding: 4px 10px;
    color: rgb(16, 16, 16);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
  }
  
  .arrows{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: #de73b1;
  }
  
  /* Number text (1/3 etc) */
  .number-text {
    color: #0d0c0c;
    font-family:"Pixelify Sans", sans-serif;
    font-size: 1rem;
    padding: .3rem;
    position: relative;
    top: 0;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/*CONTACTS & FACTS*/
#contacts-facts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 700px;
    padding: 2rem 0 ;
}
#contacts-facts-container-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
}
#fun-facts{
    font-family:"Pixelify Sans", sans-serif;
    font-size: 1.1rem;
}
#fun-facts p{
    border-top: solid 3px #000000;
    padding: 1.2rem 0;
}
#fun-facts h4{
    font-size: 3rem;
    font-family: "Gwendolyn", cursive; 
    font-optical-sizing: auto;
    font-weight: 600;
    padding: .4rem 0;
    margin: 0;

}
#contacts h4{
    font-size: 3rem;
    font-family: "Gwendolyn", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    padding: .4rem 0;
    margin: 0;
}
#contacts ul{
    list-style-type: none;
    border-top: solid 3px #000000;
    padding: 1.2rem 0;
}
#contacts li{
    padding: .5rem 0;
    font-family:"Pixelify Sans", sans-serif;
}
#contacts a{
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    background: linear-gradient(118deg, #bbd5fe 0%, #ecd8fd 100%);
    color: rgb(51, 46, 52);
    padding: 0.2rem 1.5rem;
    font-size: 1rem;
    text-decoration: #4a375b00 3px underline;

    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-optical-sizing: auto;
    
    border: #000000 solid 4px;
    border-radius: 10px;

    -webkit-box-shadow:2px 2px 0px 1px #000000 ;
    -moz-box-shadow:2px 2px 0px 1px #000000 ;
    box-shadow:2px 2px 0px 1px #000000 ;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    #top-banner h2{
        font-size: 1.7rem;
    }
    #top-banner h3{
        font-size: 1.5rem
    }
    #personal-summary h4 {
      font-size: 4rem;
    }
    #personal-summary p{
        font-size: 1.1rem;
    }
    #cotw{
        font-size: 2.2rem;
    }
    #creative-collective-logo img{
        height: 32px;        
    }  
    #thumbnail-images{
        width: 20%;
    }
  }
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    #top-banner h1{
        font-size: 1rem;
    }
    #top-banner h2{
        font-size: 1.2rem;
    }
    #top-banner h3{
        font-size: 1.2rem
    }
    #personal-summary h4 {
        font-size: 3rem;
    }
    #personal-summary p{
        font-size: 1.5rem;
    }
    #personal-summary a{
        font-size: 1.3rem;
    }
    #cotw{
        font-size: 2.4rem;
    }
    #creative-collective-logo img{
        height: 25px;        
    }
    #thumbnail-images{
        width: 95%;
    }

}
@media screen and (max-width: 300px) {
    #top-banner h2{
        font-size: .9rem;
    }
    #top-banner h3{
        font-size: .8rem;
    }
    #personal-summary h4 {
        font-size: 2.5rem;
    }
    #cotw{
        font-size: 1.6rem;
    }
    #personal-summary p{
        font-size: 1rem;
    }
    #creative-collective-logo img{
        height: 20px;        
    }
}


/*FOOTER CSS*/

#footer{
    background-color: #262626;
    max-width: 100vw;
    color: aliceblue;

}
#container{
    padding: 1.5rem;
    max-width: 900px;
}
#footer-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;;
}
#footer img{
    width: 100%;
    height:auto;
    max-width: 250px;
}
#footer h6{
    font-size: 1rem;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
}
#footer a{
    text-decoration: none transparent;
    color: aliceblue;
    font-family: "Noto Sans", sans-serif;
}
#footer a:hover{
    text-decoration: underline #3586C0 0.15rem;
    transition: 300ms;
}
#copyright{
    background-color: black;
    color: grey;

    display: flex;
    justify-content: center;
    text-align: center;    
    position: relative;

    bottom: 0;
    font-family: "Noto Sans", sans-serif;
}
