body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*TOP BANNER*/
#top-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    background-color: #1F5D00;
    padding-bottom: 1rem;
    
}
#top-banner h1{
    max-width: 900px;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: #1F5D00;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    border-radius: 10px;
    color: #e9f6e2;    
    text-decoration: underline;
    text-underline-offset: 10px;
}
#top-banner h2{
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    color: #d7e9c2;
    text-align: center;
    border-radius: 10px;
    background-color: #306c12;
    padding: .2rem 1rem;
}
#top-banner h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    color: #abc088;
    padding: .2rem 1rem;
    border-radius: 10px;
    background-color: #2f6d11;
}
 
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 850px;
    padding: .5rem .3rem 2rem .3rem;
}
#back-button{
    position: relative;
    left: 0;
}
#creative-collective-logo{
    flex-grow: 1;
    text-align: center;
}


#border{
    background-image: url("../images/dan-haswell/border.png");
    height: 130px;
    background-color: #191919;
}


/* MAIN PAGE */

#main-page{
    max-width: 100vw;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center;
    font-family: "Noto Sans", sans-serif;
    background-color: #191919;
    padding: 0 .6rem;
}

/*CAROUSEL*/
#main-image-container{
    max-width: 900px;
    display: flex;
    justify-content: center;
}
#main-image-container-inner{
    display: flex;
    justify-content: center;
}

#thumbnail-image{
    padding: 6px 2px;
}
  
  /* Hide the images by default */
  .main-image {
    display: none;
  }


  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    width: auto;
    padding: 4px 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
  }
  
  .arrows{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: #de6706;
  }
  
  /* Number text (1/3 etc) */
  .number-text {
    color: #f2f2f2;
    font-family:"Inter", sans-serif;
    font-size: .8rem;
    padding: .3rem;
    position: relative;
    top: 0;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }





#personal-summary{
    display: flex;
    flex-direction:column;
    text-align: start;
    align-items: start;

    max-width: 700px;
}
#personal-summary h4{
    padding: 2rem 0 0.3rem 0;
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    color: #FAE803;
    padding: 0;
    margin: 0;
}
#personal-summary p{
    padding: 0 0 0 0.5rem;
    font-weight: 200;

    font-weight: 400;
    font-optical-sizing: auto;
    color: #f0ebe5;
}
#personal-summary a{
    background-color:#1F5D00;
    color: aliceblue;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    font-size: 1.1rem;
    font-family:"Bebas Neue", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    text-decoration: #77ac4f underline;
    text-underline-offset: 4px;
    transition:.5s ease;
}
#personal-summary a:hover{
    text-decoration: #ffffff underline;
}

/*CONTACTS & FACTS*/
#contacts-facts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 800px;
    padding: 2rem 0 ;
}
#contacts-facts-container-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #E0D4C6;
}
#fun-facts{
    font-size: 1.1rem;
    background-color: #C64F21;
    border: #191919 solid;
    border-width: 0px 20px;

}
#fun-facts h4{
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #E0D4C6;
    padding: 1rem 0rem 0 0;
    margin: 0;
}
#contacts {
    font-size: 1.1rem;
    background-color: #C64F21;
    border: #191919 solid;
    border-width: 0px 20px;

}
#contacts hr{
    
}
#contacts h4{
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #E0D4C6;
    padding: 1rem 0rem 0 0;
    margin: 0;
}
#contacts ul{
    list-style-type: none;
    padding: 0 0.5rem;
}
#contacts li{
    padding: 0.5rem 0;
    text-align: left;
}
#contacts b{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
#contacts a{
    text-decoration: none;
    color: #E0D4C6;
    text-align: end;
    text-decoration: transparent underline;
    transition:.5s ease;
}
#contacts a:hover{
    text-decoration: #191919 underline;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    #top-banner h3{
        font-size: 1.8rem
    }
    #personal-summary h4 {
      font-size: 4rem;
    }
    #personal-summary p{
        font-size: 1.3rem;
    }
    #personal-summary a{
        font-size: 1.6rem;
    }
    #creative-collective-logo img{
        height: 32px;        
    }  
    #thumbnail-images{
        width: 20%;
    }


  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    #top-banner h1{
        font-size: 3.6rem;
    }
    #top-banner h3{
        font-size: 1.8rem
    }
    #personal-summary h4 {
        font-size: 3rem;
    }
    #personal-summary p{
        font-size: 1.2rem;
    }
    #personal-summary a{
        font-size: 1.4rem;
    }
    #creative-collective-logo img{
        height: 25px;        
    }
    #thumbnail-images{
        width: 95%;
    }
}
@media screen and (max-width: 300px) {
    #personal-summary h4 {
        font-size: 2.5rem;
    }
    #personal-summary p{
        font-size: 1rem;
    }
    #creative-collective-logo img{
        height: 20px;        
    }
    
}

/*FOOTER CSS*/

#footer{
    background-color: #262626;
    max-width: 100vw;
    color: aliceblue;

}
#container{
    padding: 1.5rem;
    max-width: 900px;
}
#footer-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;;
}
#footer img{
    width: 100%;
    height:auto;
    max-width: 250px;
}
#footer h6{
    font-size: 1rem;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
}
#footer a{
    text-decoration: none transparent;
    color: aliceblue;
    font-family: "Noto Sans", sans-serif;
}
#footer a:hover{
    text-decoration: underline #db652b 0.15rem;
    transition: 300ms;
}
#copyright{
    background-color: black;
    color: grey;

    display: flex;
    justify-content: center;
    text-align: center;    
    position: relative;

    bottom: 0;
    font-family: "Noto Sans", sans-serif;
}
